<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Graphs on data from unicornsindia.in">
    <meta name="keywords" content="Graphs, Indian, Unicorns">
    <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦄</text></svg>" type="image/x-icon">
    <title>Unicorns of India Visualization</title>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://graphs.unicornsindia.in">
    <meta property="og:title" content="Graphs of Indian Unicorns">
    <meta property="og:image:secure_url" content="https://unicornsindia.in/thumbnail.jpg">
    <meta property="og:description" content="Graphs of privately held startup companies with the valuation of $1 billion or more">
    <meta property="og:site_name" content="Graphs of Indian Unicorns">
    <meta property="og:locale" content="en_US">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@rakshithbellare">
    <meta name="twitter:creator" content="@rakshithbellare">
    <meta name="twitter:url" content="https://unicornsindia.in">
    <meta name="twitter:title" content="Unicorns of India">
    <meta name="twitter:description" content="Graphs of privately held startup companies with the current valuation of $1 billion or more">
    <meta name="twitter:image" content="https://unicornsindia.in/thumbnail.jpg">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
