<template>
  <div>
    <div id="years"></div>
    <div id="valuation"></div>
    <div id="glassdoor"></div>
  </div>
</template>

<script>
const Highcharts = require('highcharts');
import data from "../data.json";
require('highcharts/modules/exporting')(Highcharts);
export default {
  name: 'visualization',
  data() {
    return {
      data: data,
      currentSeries: ""
    }
  },
  mounted() {
	Highcharts.theme = {
    colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572',
             '#FF9655', '#FFF263', '#6AF9C4'],
    chart: {
        backgroundColor: '#011627'
    },
    title: {
        style: {
            color: '#fff',
            font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
        }
    },
    subtitle: {
        style: {
            color: '#666666',
            font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
        }
    },
    legend: {
        itemStyle: {
            font: '9pt Trebuchet MS, Verdana, sans-serif',
            color: 'white'
        },
        itemHoverStyle:{
            color: 'gray'
        }
    }
};
// Apply the theme
Highcharts.setOptions(Highcharts.theme);
	const unicornNames = data.map((u) => u.name);
	const unicornYear = data.map((u) => Number(u.year));
	const unicornValuation = data.map((u) => Number(u.valuation));
	const unicornFoundedYear = data.map((u) => Number(u.description.founded));
	const unicornRatings = data.map((u) => Number(u.description.rating));
	const yearsOptions = {
		chart: {
		type: 'column'
		},
		title: {
			text: 'Unicorns India - founded/turned unicorn'
		},
		subtitle: {
			text: 'Source: unicornsindia.in'
		},
		xAxis: {
			categories: unicornNames,
			crosshair: true
		},
		yAxis: {
			min: 2000
		},
		plotOptions: {
			column: {
				pointPadding: 0.2,
				borderWidth: 0
			}
		},
		series: [{
			name: 'year',
			data: unicornYear,
		}, {
			name: 'founded',
			data: unicornFoundedYear
		}],
		exporting: {
			buttons: {
				contextButton: {
					enabled: false
				}
			}
		},
		credits: {
			enabled: false
		},

	};

	const valuationOptions = {
		chart: {
			type: 'column',
		},
		title: {
			text: 'Unicorns India - valuation'
		},
		subtitle: {
			text: 'Source: unicornsindia.in'
		},
		xAxis: {
			categories: unicornNames,
			crosshair: true
		},
		yAxis: {
			min: 0
		},
		plotOptions: {
			column: {
				pointPadding: 0.2,
				borderWidth: 0
			}
		},
		series: [{
			name: 'valuation',
			data: unicornValuation,
		}],
		exporting: {
			buttons: {
				contextButton: {
					enabled: false
				}
			}
		},
		credits: {
			enabled: false
		}
	};

	const ratingOptions = {
		chart: {
		type: 'column'
		},
		title: {
			text: 'Unicorns India - glassdoor rating'
		},
		subtitle: {
			text: 'Source: unicornsindia.in'
		},
		xAxis: {
			categories: unicornNames,
			crosshair: true
		},
		yAxis: {
			min: 0,
			max: 5
		},
		plotOptions: {
			column: {
				pointPadding: 0.2,
				borderWidth: 0
			}
		},
		series: [{
			name: 'rating',
			data: unicornRatings,
		}],
		exporting: {
			buttons: {
				contextButton: {
					enabled: false
				}
			}
		},
		credits: {
			enabled: false
		}
	};
	Highcharts.chart('years', yearsOptions);
	Highcharts.chart('valuation', valuationOptions);
	Highcharts.chart('glassdoor', ratingOptions);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
