<template>
  <div id="app">
    <Visualization />
  </div>
</template>

<script>
import Visualization from './components/Visualization.vue'

export default {
  name: 'App',
  components: {
    Visualization 
  }
}
</script>

<style>
body {
  margin: 0;
}
#app {
  text-align: center;
}
</style>
